.gradient-custom {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.card-custom {
    border-bottom-left-radius: 10% 50%;
    border-top-left-radius: 10% 50%;
    background-color: #f8f9fa;
}
/* Existing styles */

.image-container {
    text-align: left; /* Position the image to the left */
}

.img-custom {
    max-width: 100%; /* Adjust the maximum width to control the size of the image */
    height: auto;
}

/* Existing styles */


.input-custom {
    background-color: white;
}

.white-text {
    color: hsl(52, 0%, 98%);
    font-weight: 100;
    font-size: 14px;
}
