@page "/User/Home"
@using E_CommerceBlazor.Client.Services.Abstract;
@using E_CommerceBlazor.Shared.Dto;
@inject IProductService _productService

@foreach(var item in products )
{

    <div class="card" style="width: 18rem;">
        <img src="@item.PictureUrl" class="card-img-top" alt="product_photo">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@item.Description</p>
        </div>
        <div class="card-body text-end">
        <a href="#" class="btn btn-primary">See Details</a>
            <a href="#" class="btn btn-primary">@item.Price $</a>
        </div>
    </div>

}


@code {
    List<ProductReadDTO> products = new List<ProductReadDTO>();

    protected override async Task OnInitializedAsync()
    {
        var getProducts =await _productService.GetAllProducts();
        if(getProducts.Success == true)
        {
            products = getProducts.Data;
        }
        else
        {
            Console.WriteLine("An error occuerd while getting products" +
                getProducts);
        }
    }
        
}
