@page "/categories/{id:int}"
@using E_CommerceBlazor.Client.Services.Abstract;
@using E_CommerceBlazor.Shared.Dto;
@inject ICategoryService _categoryService
@inject IToastService _toastService
@inject NavigationManager _navigationManager

<h5 class="text-primary ml-0 mb-4">@category.Name</h5>
<div class="container">
    
    <div class="row">
        @if (category.Products!= null && category.Products.Any())
        {
           
            @foreach (var item in category.Products)
            {
                <div class="col-md-4 mb-4">

                    <div class="card" style="width: 18rem;">
                        <img src="/image/startup-plan-business-goals-diagram.jpg" class="card-img-top" alt="product_photo">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>
                        </div>
                        <div class="card-body text-end">
                            <a @onclick="() => HandleDetail(item.Id)" class="btn btn-primary">Detaya Git</a>
                            <a class="btn btn-primary">@item.Price $</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h5>Bu kategoride hiçbir ürün bulunmamaktadır.</h5>
        }
    </div>
</div>






@code {
    [Parameter]
    public int id { get; set; }

    CategoryDto category = new CategoryDto();


    protected override async Task OnInitializedAsync()
    {
        var result = await _categoryService.GetByCategoryId(id);

        if(result.Success)
        {
            category = result.Data;
            _toastService.ShowSuccess(result.Message);
        }
        else
        {
            Console.WriteLine(result.Message);
        }

    }
    protected override async Task OnParametersSetAsync()
    {
        if(category.Id != id)
        {
            await OnInitializedAsync();
        }
    }
    private async Task HandleDetail(int id)
    {
        _navigationManager.NavigateTo($"/Product/{id}");
    }

}
