@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Blazored.Toast.Configuration
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authenticationStateProvider
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
  @*  <AuthorizeView>
        <Authorized>
            <NavLink class="nav-link">
                <span class="p-2">Welcome @context.User.Identity.Name</span>

            </NavLink>
        </Authorized>
        <NotAuthorized>
            <NavLink href="" class="nav-link">
                <span>Login</span>
            </NavLink>

        </NotAuthorized>
    </AuthorizeView>*@
    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<BlazoredToasts Position="ToastPosition.BottomRight"
                        Timeout="10"
                        IconType="IconType.FontAwesome"
                        SuccessClass="success-toast-override"
                        SuccessIcon="fa fa-thumbs-up "
                        ErrorIcon="fa fa-bug" />

@code {
    public async Task Logout()
    {
        //await _authManager.Logout();
        await _authenticationStateProvider.GetAuthenticationStateAsync();
        _navigationManager.NavigateTo("");
        await OnInitializedAsync();
    }
}