@inherits LayoutComponentBase
@using Blazored.LocalStorage;
@using E_CommerceBlazor.Client.Services.Abstract;
@using E_CommerceBlazor.Shared.Model;
@using Microsoft.AspNetCore.Components.Authorization
@using Blazored.Toast.Configuration
@using Newtonsoft.Json;

@inject NavigationManager _navigationManager
@inject IAuthenticationService _authService
@inject ILocalStorageService _localStorage;
@inject IBasketService _baskeService;
@inject AuthenticationStateProvider _authenticationStateProvider
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
       
    <AuthorizeView>
        <Authorized>
            <NavLink class="nav-link">
                <span class="p-2">Merhaba @context.User.Identity.Name</span>
            </NavLink>
                    <NavLink href="/basket" class="nav-link">
                        <span class="p-2">Sepetim</span>
                        <i class="fa-solid fa-basket-shopping">
                        @if (basketTotal > 0)
                        {
                            @basketTotal
                        }
                        </i>
                    </NavLink>

            <NavLink class="nav-link" @onclick="Logout">
                <span class="p-2">Çıkış yap</span>
            </NavLink>

        </Authorized>
        <NotAuthorized>
            <NavLink href="/login" class="nav-link">
                <span>Giriş yap</span>
            </NavLink>
            <NavLink href="/register" class="nav-link">
                <span>Kayıt ol</span>
            </NavLink>
                    
                    <NavLink class="nav-link">
                        <span class="p-2">@context.User.Identity.Name</span>
                    </NavLink>
        </NotAuthorized>
    </AuthorizeView>

        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<BlazoredToasts Position="ToastPosition.BottomRight"
                        Timeout="10"
                        IconType="IconType.FontAwesome"
                        SuccessClass="success-toast-override"
                        SuccessIcon="fa fa-thumbs-up "
                        ErrorIcon="fa fa-bug" />

@code {
    int basketTotal { get; set; }
    public async Task Logout()
    {
        await _authService.Logout();
        await _authenticationStateProvider.GetAuthenticationStateAsync();
        _navigationManager.NavigateTo("");
        await OnInitializedAsync();
    }
    protected override async Task OnInitializedAsync()
    {
        var result = await _localStorage.GetItemAsStringAsync("basket");
        Basket? basket = JsonConvert.DeserializeObject<Basket>(result);
        var basketId = basket.Id;

        var resultCount =await _baskeService.CountBasket(basketId);

        basketTotal = resultCount.Data;
        Console.WriteLine(basketTotal);
    }
}