@using E_CommerceBlazor.Client.Services.Abstract;
@using E_CommerceBlazor.Shared.Dto;
@inject ICategoryService _categoryService
@inject IToastService _toastService
@inject NavigationManager _navigationManager
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">E-ticaret</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @foreach(var item in categories)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" @onclick="() => CategoryHandle(item.Id)">
                    <i class="fa-solid fa-arrow-right"></i>@item.Name
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    List<CategoryDto> categories = new List<CategoryDto>();



    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        var result =await _categoryService.GetAllCategorries();

        if(result.Success)
        {
            categories = result.Data;
            _toastService.ShowSuccess(result.Message);
        }
        else
        {
            _toastService.ShowError(result.Message);
        }

    }
    private void CategoryHandle(int id)
    {

            _navigationManager.NavigateTo($"/Categories/{id}");
    }
}
