@page "/payment/completed"

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-success text-center" role="alert">
                <i class="fas fa-check-circle fa-5x mb-3"></i> 
                <h4 class="alert-heading">Ödeme Başarılı!!</h4>
                <p>Ödemeniz için teşekkürler. Siparişiniz başarıyla tamamlandı.</p>
            </div>
            <div class="text-center">
                <a href="/order" class="btn btn-primary">Siparişlerimi Görüntüle</a>
            </div>
        </div>
    </div>
</div>


@code {

}
